body{
  background-color: rgba(214, 243, 226, 0.747);
}
header{
  color: rgb(52, 136, 52);
  font-size: 33px;
  font-weight: bold;
  justify-content:space-around;
  background-color: rgba(0, 255, 21, 0.123);
  padding: 20px;
  display: flex;
}

.integrantes{
  font-size: 20px;
}

.agro {
    width: 180px;
    height: 150px;
    border-radius: 40px;
}

.topico {
  font-size: 30px;
  justify-content: first baseline;
  font-weight: bold;
}

.texto {
  text-indent: 40px;
  font-size: 22px;
  display: flex;
  flex: 1;
}

.topico1 {
  font-size: 30px;
  text-align:right;
  font-weight: bold;
}

.texto1 {
  text-indent: 40px;
  font-size: 22px;
  text-align: right;
}

.monitor {
  width: 500px;
  height: 350px;
  justify-content: center;
  border-radius: 5%;
  display: flex;
  margin-right: 10px;
}

.mapeamento {
  width: 500px;
  height: 350px;
  justify-content: center;
  border-radius: 5%;
  display: flex;
  margin-right: 10px;
}